body {
  padding-top: 100px;
    text-align: right;
    background-image: url(http://ayay.co.uk/backgrounds/cartoons/dc_comic_book/green-arrow.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
    
}
